@import '~bootstrap/scss/bootstrap';

body {
  background-attachment: fixed;
  background-image: url('https://imgur.com/gYCB8sy.jpg');
  background-repeat: no-repeat;
  padding-top: 71px;
}

.logout {
  float: right;
}

.login {
  float: left;
}

.welcome {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  font-family: 'Thasadith', sans-serif;
  padding: 30px;
}

.yo {
  font-family: 'Thasadith', sans-serif;
  font-size: 30px;
}

.signin {
  margin-top: auto;
}

@media (max-width: 768px) {
  .fixed-top {
    bottom: 0;
    top: auto;
  }

  body {
    padding-bottom: 71px;
    padding-top: 0;
  }
}
